.flex1
{
    display:flex;
    justify-content:space-evenly; 
    align-items: center; 
    float:left;
    width:100%;
    flex-wrap: wrap;
    }
.box1
{
    width:600px;
    height:auto;
    box-shadow:5px 5px 5px 5px rgba(206, 175, 175, 0.283);
    margin-top:5%;
    border-radius: 10px;
}
.img1
{
    width:100%;
    height:200px;
    border-radius: 10px;
}
h2{
    color:forestgreen;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}
button{
    margin:-200px 0px 17px 450px;
    padding: 15px;
    background-color:green;
    color: white;
    border-radius: 5px;
}